<section class="section-404">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <img src="assets/imgs/template/404.png" alt="" />
                <h1 class="mt-8">This page doesn't exist</h1>
                <p class="fs-5 mb-4">The link may be old or mistyped. Go back to <a class="text-primary" href="/">Home</a> and pick up from there.</p>
                <a href="/" class="btn btn-gradient mt-lg-0 mt-5 ms-lg-auto">
                    Back to Home
                    <i class="ri-arrow-right-up-line"></i>
                </a>
            </div>
        </div>
    </div>
</section>
